
body{
    margin: 0;
    font-family: sans-serif;
}

header{
    text-align: center;
    background: linear-gradient(270deg, #271661ff, #4558B6ff);
    color: white;
    padding: 5px;
}

main{
    display: flex;
}
section{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

#today{
    border: 1px solid black;
}

#day5{
    display: flex;
    justify-content: space-between;
}

#rightside{
    width: 70%;
    
}

#today{
    margin-top: 20px;
    padding-left: 10px;
    background: #323D4Fff;
    color: white;
    border-radius: 10px;
}

.nextday{
    width: 18%;
    border: 1px solid black;
    padding-left: 5px;
    color: white;
    background: #00142F;
    border-radius: 10px;
}

input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
}
#btn{
    margin-top: 10px;
    background: #6991E3ff;
    border: none;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

button{
    padding: 10px 0px;
    font-size: 15px;
}

button:hover{
    opacity: 0.75;
}

#cities{
    text-align: center;
    border-top: 1px solid gray;
}

#cities button{
    width: 100%;
    margin-top: 20px;
    background-color: #323D4Fff;
    color: white;
    border: none;
    border-radius: 5px;
}

#forecasted{
    border-radius: 10px;
    margin-top: 40px;
    color: white;
    padding: 10px;
    background: #323D4Fff;
}

#today div{
    display: flex;
}
/*.nextday{
    min-width: 120px;
    max-width: 160px;
}*/
/* CSS HEX 
--charcoal: #323D4Fff;
--cornflower-blue: #6991E3ff;
--federal-blue: #271661ff;
--byzantine-blue: #4558B6ff;
--silver: #AEAEAEff;
*/
